.badgeCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  width: 200px;
  cursor: pointer;
}

.badgeImageWrapper {
  width: 175px;
  height: 175px;
  position: relative;
}

.badgeImage {
  position: relative;
  top: 25%;
  left: 25%;
  z-index: 1; /* Higher z-index to appear on top */
  width: 50%;
  height: 50%;
  object-fit: cover;
  border-radius: 50%;
}

.badgeFrame {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0; /* Lower z-index to appear behind the image */
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none; /* So the frame does not block interactions */
}


.badgeDetails {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.badgeTitle {
  font-weight: bold;
  margin: 0 0 5px 0;
  font-size: 1.1em;
  color: var(--forest-green);
}

.badgeDate {
  margin: 0;
  color: var(--blue-gray);
  font-size: 0.8em;
}
