/* split screen in two */
.split {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
}

/* dummy space for navbar */
.left {
  left: 0;
  width: 25%;
  background-color: gray;
}

.right {
  right: 0;
  left: 25%;
  padding-left: 8%;
  padding-right: 8%;
}

/* have space between header and view all link  */
.header {
  font-size: 1.3em;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5%;
  margin-bottom: -0.5%;
}

.nameHeading {
  color: var(--forest-green);
}

.imgContainer {
  display: flex;
  align-items: center;
  width: 9%;
  height: 9%;
  min-width: 50px;
  min-height: 50px;
  overflow: hidden;
}

.imgContainer img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  object-fit: contain;
}

.subHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1em;
  color: var(--blue-gray);
  margin-top: 0.5rem;
}

.subHeader h2 {
  margin-left: 0;
  margin-bottom: 1rem;
}

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  row-gap: 1em;
  column-gap: 1em;
  margin-bottom: 1rem;
}
