/* split screen in two */
.split {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  transition: left 0.3s ease; /* Add transition for smooth animation */
}

.right {
  right: 0;
  left: 250px;
  overflow: hidden;
}

.hamburger {
  color: var(--blue-gray);
  font-size: 1.5rem;
  margin: 1.5rem;
  position: absolute;
  top: 20px;
  left: 10px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.outerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scrollContainer {
  height: calc(100vh - 100px); /* 100px is the height of the footer */
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */
}

.content {
  width: 875px;
  height: 90vh;
}

.header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.nameHeading {
  color: var(--forest-green);
  font-size: 3rem;
  margin: 0;
  max-width: 90%;
  white-space: normal;
  word-break: break-word;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  margin-bottom: 0;
  position: fixed;
  bottom: 0;
  right: 0;
  box-shadow: 2px 0px 2px rgb(90, 90, 90);
  background-color: white;
  transition: 0.3s all ease;
}

.footerButtons {
  width: 875px;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

@media screen and (min-width: 1500px) {
  .content {
    width: 1200px;
  }

  .footerButtons {
    width: 1200px;
  }
}

@media screen and (min-width: 1800px) {
  .content {
    width: 1400px;
  }

  .footerButtons {
    width: 1400px;
  }
}

@media screen and (max-width: 1000px) {
  .content {
    width: 600px;
  }

  .footerButtons {
    width: 600px;
  }
}

@media screen and (max-width: 750px) {
  .content {
    width: 425px;
    margin-bottom: 120px;
  }

  .footerButtons {
    width: 425px;
  }
}

@media screen and (max-width: 600px) {
  .header {
    margin-top: 5rem;
  }
}

@media screen and (max-width: 450px) {
  .content {
    width: 300px;
  }

  .footerButtons {
    width: 300px;
  }
}
