.pageContainer {
  overflow: hidden;
  min-height: 100vh;
}

/* top image container */
.top {
  background-size: cover;
  overflow: hidden;
  height: 18vh;
}

/* top image */
.loginBanner {
  margin: -580px 0 0 0;
}

.bottom {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: visible;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/* center right login form */
.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.contentContainer {
  margin: .5rem;
}

/* Admin */
.heading {
  font-size: 2.5rem;
  color: var(--blue-gray);
  padding-top: 2.2%;
}

/* switch to volunteer login */
.switch {
  font-size: 0.85rem;
  font-weight: bold;
  text-decoration: underline;
  text-underline-position: under;
  color: var(--forest-green);
  background-color: white;
  border: none;
  cursor: pointer;
}

/* checkmark sizing */
.checkmark {
  width: 200px;
  height: auto;
}

/* checking email text */
p {
  font-size: 1.1rem;
  color: --var(--blue-gray);
  font-weight: bold;
  margin-top: 1.12rem;
  margin-bottom: .3rem;
}

/* mobile */
@media screen and (max-width: 850px) {
  .left {
    width: 0%;
  }
  .right {
    width: 100%;
    min-width: 0%;
  }
}

@media screen and (max-height: 750px) {
  .split {
    flex-direction: row;
    height: 100%;
  }

}