/* split screen in two */
.split {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  transition: left 0.3s ease; /* Add transition for smooth animation */
}

.right {
  right: 0;
  left: 250px;
  overflow: hidden;
  overflow-y: auto;
}

.outerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bodyContainer {
  width: 875px;
  margin-bottom: 10%;
}

.header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.nameHeading {
  color: var(--forest-green);
  font-size: 3rem;
  margin: 0;
  max-width: 90%;
  white-space: normal;
}

.certificateImg {
  width: 200px;
}

.certificateImg img {
  width: 100%;
  height: 100%;
}

.feedback {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 4%;
  margin-top: 0.5rem;
  margin-bottom: 5%;
}

.feedbackRight {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.feedbackRight h3 {
  font-size: 1.5rem;
}

.score {
  display: flex;
  flex-direction: row;
  font-weight: bold;
  margin: 2% 0% 2% 0%;
}

.bigNum {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 3rem;
}

.smallNum {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 1.4rem;
  padding-bottom: 7px;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-bottom: 1rem;
  margin-right: 4%;
}

.questionContainer {
  background-color: var(--blue-purple);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 4%;
  border-radius: 20px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  margin-bottom: 0;
  position: fixed;
  bottom: 0;
  right: 0;
  box-shadow: 2px 0px 2px rgb(90, 90, 90);
  background-color: white;
  transition: 0.3s all ease;
}

.footerButtons {
  width: 875px;
  display: flex;
  justify-content: flex-end;
  gap: 1%;
}
