.pageContainer {
  overflow: hidden;
  min-height: 100vh;
}

/* top image container */
.top {
  background-size: cover;
  overflow: hidden;
  height: 18vh;
}

/* top image */
.loginBanner {
  margin: -580px 0 0 0;
}

 /* form container */
.bottom {
  display: flex;
  width: 100%;
  height: 70%;
  overflow: visible;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/* container to center all input fields */
.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* heading text */
.heading {
  font-size: 2.5rem;
  color: var(--blue-gray);
  margin-bottom: 0%;
  padding-top: 2.2%;
}

/* for input field label containers */
.alignLeft {
  width: 100%;
  text-align: left;
}

/* for input text labels */
.label {
  margin-bottom: 0.75rem;
  margin-top: 1.5rem;
  color: var(--blue-gray);
}

/* email label and icon container */
.emailContainer {
  display: flex;
  align-items: center; 
}

/* switch to volunteer login */
.switch {
  font-size: 0.85rem;
  font-weight: bold;
  text-decoration: underline;
  text-underline-position: under;
  color: var(--forest-green);
  background-color: white;
  border: none;
  cursor: pointer;
  padding-top: 1%;
  padding-bottom: 5%;
}

.button {
  padding-top: 5%;
}

/* email info icon */
.icon {
  color: var(--blue-gray); 
  margin-left: 1.7%; 
  font-size: 1.5rem; 
  margin-top: 1.1rem;
}

.error {
  background-color: black;
}

/* mobile */
@media screen and (max-width: 850px) {
  .left {
    width: 0%;
  }
  .right {
    width: 100%;
    min-width: 0%;
  }
}

@media screen and (max-height: 750px) {
  .split {
    flex-direction: row;
    height: 100%;
  }
}