.modalContainer {
    height: 100%;
    position: fixed;
    z-index: 2;
    top: 0;
    overflow-x: hidden;
}

.closeButton {
  position: absolute; /* Position the button relative to its container */
  top: 5px; /* Adjust top position as needed */
  right: 5px; /* Adjust right position as needed */
  color: gray; /* Set button text color */
  text-align: center; /* Center text alignment */
  font-size: 30px; /* Set button text size */
  font-weight: bold; /* Set button text weight */
  cursor: pointer; /* Indicate interactivity on hover */
  border: none; /* Remove default button border */
  outline: none; /* Remove default button outline */
  border-radius: 50%; /* Create a circular button */
}

.left {
  color: black;
  left: 0;
  right: 250px;
  padding-right: 4%;
  padding-left: 4%;
  z-index: 3;
}

.right {
  right: 0;
  width: 250px;
  background-color: gray;
  z-index: 2;
}

.image {
  width: 100px; /* Adjust width as needed */
  height: 250px; /* Set height to auto to maintain aspect ratio */
  overflow: hidden; /* Hide overflowing parts of the image */
  object-fit: cover; /* Crop image to fit container */
  object-position: 0% 50%; /* Position the crop area to show the left side */
}

.container {
  right: 0;
  width: 50px;
  background-color: gray;
  z-index: 2;
  position: relative;
}
#clip {
  position: absolute;
  clip: rect(0, 50px, 50px, 50);
  /* clip: shape(top, right, bottom, left); NB 'rect' is the only available option */
}


.background {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100vw;
  height: 100vh;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal {
  width: 400px;
  background: white;
  color: white;
  z-index: 10;
  border-radius: 16px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
  display: flex;
}

@media screen and (max-width: 600px) {
  .modal {
    width: 300px;
  }
}

@media screen and (max-width: 400px) {
  .modal {
    width: 250px;
  }
}
