.modalContainer {
    height: 100%;
    position: fixed;
    z-index: 2;
    top: 0;
    overflow-x: hidden;
}

.closeButton {
  position: absolute; 
  top: 5px; 
  right: 5px; 
  color: gray;
  text-align: center; 
  font-size: 30px; 
  font-weight: bold; 
  cursor: pointer; 
  border: none;
  outline: none; 
  border-radius: 50%; 
}

.left {
  color: black;
  left: 0;
  right: 250px;
  padding-right: 4%;
  padding-left: 4%;
  z-index: 3;
}

.right {
  right: 0;
  width: 250px;
  background-color: gray;
  z-index: 2;
}

.image {
  width: 100px; 
  height: 250px; 
  overflow: hidden;
  object-fit: cover; 
  object-position: 0% 50%; 
}

.background {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100vw;
  height: 100vh;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal {
  width: 400px;
  background: white;
  color: white;
  z-index: 10;
  border-radius: 16px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
  display: flex;
}

@media screen and (max-width: 600px) {
  .modal {
    width: 300px;
  }
}

@media screen and (max-width: 400px) {
  .modal {
    width: 250px;
  }
}
