.modalContainer {
  height: 100%;
  position: fixed;
  z-index: 2;
  top: 0;
  overflow-x: hidden;
}

.closeButton {
  position: absolute;
  top: 5px;
  right: 5px;
  color: gray;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}

.left {
  width: 390px;
  color: black;
  left: 0;
  padding: 2%;
}

.right {
  right: 0;
  width: 310px;
  height: 400px;
  border-radius: 0 16px 16px 0;
  background-color: gray;
}

.image {
  overflow: hidden;
  object-fit: contain;
  border-radius: 0 16px 16px 0;
}

.background {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100vw;
  height: 100vh;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal {
  width: 700px;
  height: 400px;
  background: white;
  color: white;
  z-index: 10;
  border-radius: 16px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
  display: flex;
}

@media screen and (max-width: 600px) {
  .modal {
    width: 300px;
  }
}

@media screen and (max-width: 400px) {
  .modal {
    width: 250px;
  }
}
