/* Training.module.css */

.trainingCard {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  overflow: hidden;
  width: 275px;
  height: 275px;
  background-color: lightgrey;
}

.trainingImage {
  height: 200px;
  overflow: hidden;
}

.trainingImage img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.trainingContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: lightblue;
  padding: 16px;
}

.trainingTitle {
  font-size: 1.1em;
  font-weight: bold;
  margin: -2px 0 5px 3px;
  color: rgb(70, 70, 70);
}

.trainingSubtitle {
  font-size: .8em;
  margin: 4px 0 4px 3px;
  color: rgb(61, 61, 61);
}

.progressBar {
  margin: 3px 0 -5px 3px;
}

.emptyProgressBarContainer {
  height: 18px; /* Same height as the ProgressBarWithLabel */
}