.centeredContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.logo {
  width: 240px;
  height: 240px;
}

.checkmark {
  margin-top: 2.5%;
  width: 80px;
  height: auto;
}

.logoutText {
  margin-top: 2.5%;
  font-weight: bold;
  font-size: 3rem;
  text-align: center;
}

@media screen and (max-height: 750px) {
  .logo {
    width: 150px;
    height: 150px;
  }

  .content h1 {
    font-size: 4rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
