.footerContainer {
  height: 100px;
  background-color: var(--forest-green);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 4%;
  margin-top: auto;
}
.informationContainer {
  flex-grow: 0.4;
  display: flex;
  flex-direction: column;
}

.informationInnerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ATClogo {
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

.textDiv {
  color: white;
  line-height: 1.6;
}

.iconsDiv {
  flex-grow: 0.3;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.whiteIcon {
  color: white;
}

.smallText {
  font-size: 100%; 
}
