.footerContainer {
  height: 100px;
  background-color: var(--forest-green);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 4%;
  padding-right: 8%;
  padding-left: 6%;
  margin-top: auto;
}

.informationContainer {
  display: flex;
  flex-direction: column;
}
.informationInnerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ATClogo {
  border-radius: 50%;
}

.textDiv {
  color: white;
  line-height: 1.6;
}

.iconsDiv {
  flex-grow: 0.3;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.white-icon {
  color: white;
}
