.row{
    display: flex;
    flex-direction: row;
    column-gap: 50px;
    align-items: center;
}

.right{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 450px;
    height: 100%;
}

.heading{
    font-size: 33px;
    color: var(--blue-gray);
    margin: 8px;
    margin-top: 5%;
}

.alignLeft{
    width: 100%;
    text-align: left;
}

.label{
    margin-bottom: 3%;
    margin-top: 6%;
    color: var(--blue-gray);
}

.imgContainer{
    display: flex;
    margin-left: -32px;
    margin-top: -35px;
}
