.row{
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.right{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    width: 450px;
    height: 100vh;
}

.heading{
    font-size: 33px;
    color: var(--blue-gray);
    margin: 8px;
    margin-top: 10%;
}

.alignLeft{
    width: 89%;
    text-align: left;
}

.label{
    margin-bottom: 3%;
    margin-top: 6%;
    color: var(--blue-gray);
}