/* center on page */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.logoImg {
  width: 240px;
  height: 240px;
  margin: auto;
}

/* center content */
.content {
  text-align: center;
  color: var(--blue-gray);
}

/* 404 */
.content h1 {
  font-size: 4rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* page not found */
.content h2 {
  font-size: 3rem;
  margin: 1%;
}

/* message */
.content p {
  font-size: 1.25rem;
}

@media screen and (max-height: 750px) {
  .logoImg {
    width: 150px;
    height: 150px;
  }

  .content h1 {
    font-size: 4rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
