html, body {
    height: 100%;
    margin: 0;
  
}

.container {
    display: flex;
    height: 100vh;
    
}

.navbar {
    width: 250px;
    background-color: #2E3B4E;
}

.editorHeader {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.editorProfileHeader{
    display: flex;
}

.adminText{
    margin-right: 1rem;
}

.editor {
    flex-grow: 1;
    background-color: #FAFAFA;
    overflow-y: auto; 
}

.editorContent {
    flex-grow: 1;
    background-color: #FAFAFA;
    overflow-y: auto;
    margin-left: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    margin-right: 2rem;
}

.uploadSection {
    margin-top: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}

.uploadSection button {
    background-color: #49A772;
    color: white;
    padding: 0.5rem 1rem;
    text-transform: none;
}



.buttonGroup {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
    width: 150px; 
}

.buttonGroup button {
    width: 150px; 
}



.saveButton {
    margin-left: 1rem;
    width: 180px; 
    background-color: transparent !important; 
    color: black !important; 
    border: 2px solid black !important; 
    border-radius: 10px !important; 
}



.headerText {
    color: #2E3B4E; 
    font-size: 2rem;
}

