/* x button on top right */
.closeButton {
  display: flex;
  position: absolute;
  background: white;
  top: 20px;
  right: 20px;
  border-radius: 50%;
  color: var(--blue-gray);
  text-align: center;
  font-size: 2.25rem;
  font-weight: bold;
  cursor: pointer;
}

.closeButton:hover {
  color: var(--hazard-red);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  align-items: center;
}

/* reset password header */
.content h2 {
  color: var(--blue-gray);
  font-size: 2rem;
  margin-bottom: 0;
}

/* width of textfield / button */
.content form {
  width: 350px;
}

/* label */
.alignLeft {
  width: 100%;
  text-align: left;
}

/* for input text boxes */
.label {
  margin-bottom: 0.75rem;
  margin-top: 1.5rem;
  color: var(--blue-gray);
}

/* for failure message */
.errorMessage {
  height: 25px;
  margin: 0;
  padding: 4% 0 0 0;
  font-size: 1rem;
  color: var(--hazard-red);
}

/*  */
.subheader {
  font-size: 1.8rem;
  color: var(--blue-gray);
  max-width: 350px;
  text-align: center;
}

.greenText {
  color: var(--ocean-green);
}

.emailText p {
  color: var(--blue-gray);
  margin-top: 0.75rem;
  margin-bottom: 0;
}

@media screen and (max-width: 450px) {
  .content form {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .content h2 {
    font-size: 1.5rem;
    margin-top: 2rem;
  }

  .inputTextField {
    width: 200px !important;
  }

  .resetButton {
    width: 200px !important;
  }
}
