.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    align-items: center;
}

/* x button on top right */
.closeButton {
    position: absolute;
    top: 10px; /* Adjust as needed */
    right: 10px; /* Adjust as needed */
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: 'black';
    margin: 1%;
}

/* reset password header */
h2 {
    color: black;
    font-size: 40px;
}

/* width of textfield / button */
form {
    width: 350px;
}

/* label */
.alignLeft {
    width: 100%;
    text-align: left;
}

/* for input text boxes */
.label {
    margin-bottom: 0.75rem;
    margin-top: 1.5rem;
    color: var(--blue-gray);
}