/* scrollable */
.body {
  display: flex;
  overflow-y: auto;
  flex-direction: column;
  margin: 2%;
}

/* badge image */
.imgContainer {
  width: 200px;
  height: 200px;
  overflow: hidden;
}

.quizCardPlaceholder {
  height: 500px;
}

.feedback {
  display: flex;
  flex-direction: row;
}

.feedbackRight {
  width: 100%;
  flex-direction: column;
  margin-left: 4%;
}

.feedbackRight h3 {
  font-size: 1.5rem;
}

.score {
  display: flex;
  flex-direction: row;
  font-weight: bold;
  margin: 2% 0% 2% 0%;
}

.bigNum {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 3rem;
}

.smallNum {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 1.4rem;
  padding-bottom: 7px;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-bottom: 1rem;
}
