.pageContainer {
  overflow: hidden;
  min-height: 100vh;
}

/* split screen in two */
.split {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100vh;
  overflow: visible;
}

/* left image panel */
.left {
  height: 100%;
  overflow: hidden;
}

.left img {
  background-size: cover;
  height: 100%;
}

/* right login panel */
.right {
  min-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
}

/* center right login panel vertically & horizontally */
.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* for logo */
.rightImgContainer {
  width: 30%;
}

.rightImgContainer img {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
}

/* welcome! */
.heading {
  font-size: 2.5rem;
  color: var(--blue-gray);
  margin-top: 7%;
  margin-bottom: 9%;
}

/* mobile */
@media screen and (max-width: 850px) {
  .left {
    width: 0%;
  }
  .right {
    width: 100%;
    min-width: 0%;
  }
}

@media screen and (max-height: 750px) {
  .split {
    flex-direction: row;
    height: 100%;
  }

  .right {
    display: flex;
    width: 50%;
    max-height: 100%;
    overflow: visible;
    padding-top: 2rem;
    padding-bottom: 1rem;
  }

  .left {
    background-size: cover;
    min-height: 440px;
    overflow: hidden;
    max-height: 100vh;
  }

  .rightImgContainer {
    width: 20%;
  }
}
