/* split screen in two */
.split {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
}

.right {
  right: 0;
  left: 250px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.outerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  width: 875px;
  padding-bottom: 3%;
}

/* have space between header and view all link  */
.header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.nameHeading {
  color: var(--forest-green);
  font-size: 3rem;
  margin: 0;
}

.subHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: var(--blue-gray);
}

.subHeader h2 {
  font-size: 1.8rem;
  margin: 1.5rem 0 1rem 0;
}

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  row-gap: 1em;
  column-gap: 1em;
  margin-bottom: 1rem;
}

/* ALL ABOVE IS SAME ON EVERY PAGE (with minor spacing modifications) */

.viewAllLink {
  color: var(--blue-gray);
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  text-decoration: underline;
}

.footer {
  margin-top: auto;
}
