.split {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  transition: left 0.3s ease; /* Add transition for smooth animation */
}

.right {
  right: 0;
  left: 250px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.popupOpen {
  position: absolute;
  z-index: -1;
}

.hamburger {
  color: var(--blue-gray);
  font-size: 1.5rem;
  margin: 1.5rem;
  position: absolute;
  top: 20px;
  left: 10px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.loadingContainer {
  width: 100%;
  margin-top: 3rem;
}

.outerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  width: 875px;
  padding-bottom: 3%;
}

.errorMessage {
  color: var(--blue-gray);
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.nameHeading {
  color: var(--forest-green);
  font-size: 3rem;
  margin: 0;
}

.subHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: var(--blue-gray);
}

.subHeader h2 {
  font-size: 1.8rem;
  margin: 1.5rem 0 1rem 0;
}

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  row-gap: 1rem;
  column-gap: 1.5rem;
  margin-bottom: 1rem;
}

.viewAllLink {
  color: var(--blue-gray);
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  text-decoration: underline;
}

.footer {
  margin-top: auto;
}

/* mobile responsiveness */
@media screen and (min-width: 1500px) {
  .content {
    width: 1200px;
  }

  .cardsContainer {
    column-gap: 2rem;
  }
}

@media screen and (min-width: 1800px) {
  .content {
    width: 1400px;
  }

  .cardsContainer {
    column-gap: 6.25rem;
  }
}

@media screen and (max-width: 1000px) {
  .content {
    width: 600px;
  }

  .cardsContainer {
    justify-content: space-between;
  }
}

@media screen and (max-width: 750px) {
  .content {
    width: 425px;
  }

  .header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    text-align: center;
  }

  .profileIcon {
    margin-left: auto;
    margin-right: 10px;
  }

  .libraryButton {
    display: flex;
    justify-content: center;
  }

  .cardsContainer {
    justify-content: space-around;
  }
}

@media screen and (max-width: 450px) {
  .content {
    width: 300px;
  }

  .nameHeading {
    font-size: 2rem;
  }

  .subHeader {
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.5rem;
  }

  .subHeader h2 {
    text-align: center;
  }
}
