/* split screen in two */
.split {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
}

/* dummy space for navbar */
.left {
  left: 0;
  width: 250px;
  background-color: gray;
}

.right {
  right: 0;
  left: 250px;
  padding-left: 10%;
  padding-right: 10%;
}

/* have space between header and view all link  */
.header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5%;
  margin-bottom: -0.5%;
}

.nameHeading {
  color: var(--forest-green);
  font-size: 4em;
}

.imgContainer {
  display: flex;
  align-items: center;
  width: 100px;
  height: 100px;
  /*min-width: 50px;
  min-height: 50px;*/
  overflow: hidden;
}

.imgContainer img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  object-fit: contain;
}

.subHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1em;
  color: var(--blue-gray);
  margin-top: 0.5rem;
}

.subHeader h2 {
  margin-left: 0;
  margin-bottom: 1rem;
}

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  row-gap: 1em;
  column-gap: 1em;
  margin-bottom: 1rem;
}

/* ALL ABOVE IS SAME ON EVERY PAGE (with minor spacing modifications) */

.viewAllLink {
  color: var(--blue-gray);
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  text-decoration: underline;
}

@media screen and (max-width: 896px) {
  .header {
    flex-wrap: nowrap;
    padding-top: 6.5%;
    padding-bottom: 6.5%;
  }

  .nameHeading {
    display: none;
  }

  .imgContainer {
    width: 100%;
    justify-content: flex-end;
  }

  .imgContainer img {
    width: 100px;
    height: 100px;
  }
}
