/* split screen in two */
.split {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  transition: left 0.3s ease; /* Add transition for smooth animation */
}

.right {
  right: 0;
  left: 250px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.outerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  width: 875px;
  padding-bottom: 3%;
}

.header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.nameHeading {
  color: var(--blue-gray);
  font-size: 3rem;
  margin: 0;
}

.searchBarContainer {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  gap: 2%;
  align-items: center;
}

.searchBar {
  flex-grow: 1;
}

.buttonContainer {
  display: flex;
  gap: 5%;
}

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  row-gap: 1rem;
  column-gap: 1.5rem;
  margin-bottom: 1rem;
}

.card {
  margin-bottom: 1%;
}

.emptySearchMessage {
  width: 100%;
  font-weight: bold;
  text-align: center;
  font-size: 1.1rem;
}

/* show buttons when screen width is above 1501px */
@media screen and (min-width: 1501px) {
  .content {
    width: 1200px;
  }

  .buttonContainer {
    display: flex;
  }

  .dropdownContainer {
    display: none;
  }
}

/* show dropdown when screen width is below 1500px */
@media screen and (max-width: 1500px) {
  .searchBar {
    flex-grow: 1;
    margin-right: 20px;
  }

  .buttonContainer {
    display: none;
  }

  .dropdownContainer {
    display: flex;
    width: 170px;
  }

  .dropdownMenu {
    width: 170px;
  }
}

@media screen and (max-width: 1000px) {
  .content {
    width: 600px;
  }

  .cardsContainer {
    justify-content: space-between;
  }
}

@media screen and (max-width: 750px) {
  .content {
    width: 300px;
  }

  .cardsContainer {
    justify-content: space-around;
  }

  .searchBarContainer {
    flex-direction: column;
    align-items: stretch;
    width: 180%;
  }

  .dropdownMenu {
    width: 300px;
    margin-top: 2%;
  }
}
