.quizCard {
  background-color: white;
  border-radius: 20px;
  padding: 2rem;
}

.questionNumber {
  margin-top: 0;
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--blue-gray);
}

.questionText {
  font-size: 1.4rem;
  font-weight: bold;
  color: var(--blue-gray);
}

.choices {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.otherChoiceText {
  margin-top: 0.5rem;
  color: var(--blue-gray);
}

.correctChoiceText {
  margin-top: 0.5rem;
  color: var(--forest-green);
}

.incorrectChoiceText {
  margin-top: 0.5rem;
  color: var(--hazard-red);
}

.greenIcon {
  margin-top: 0.5rem;
  color: var(--forest-green);
  font-size: 24px;
}

.redIcon {
  margin-top: 0.5rem;
  color: var(--hazard-red);
  font-size: 24px;
}
