.profileContainer {
  display: flex;
  align-items: center;
}

.profileIcon {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: var(--forest-green);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 5rem;
  font-weight: bold;
  text-decoration: "none";
}

@media screen and (max-width: 1000px) {
  .profileIcon {
    width: 200px;
    height: 200px;
    font-size: 4rem;
  }
}

@media screen and (max-width: 750px) {
  .profileIcon {
    width: 150px;
    height: 150px;
    font-size: 3rem;
  }
}
