.profileContainer {
  display: flex;
  align-items: center;
}

.profileIcon {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: var(--forest-green);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 3rem;
  font-weight: bold;
  text-decoration: "none"
}
