/* split screen in two */
.split {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  transition: left 0.3s ease; /* Add transition for smooth animation */
}

.right {
  right: 0;
  left: 250px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.outerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  width: 875px;
  padding-bottom: 3%;
}

/* have space between header and view all link  */
.header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.nameHeading {
  color: var(--forest-green);
  font-size: 3rem;
  margin: 0;
}

.hamburger {
  color: var(--blue-gray);
  font-size: 1.5rem;
  margin: 1.5rem;
  position: absolute;
  top: 20px;
  left: 10px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 10; /* Ensure it's above other elements */
}

.searchBarContainer {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttonContainer {
  display: flex;
  gap: 20px;
}

/* show buttons when screen width is above 1201px */
@media screen and (min-width: 1201px) {
  .buttonContainer {
    display: flex; 
  }
  .dropdownContainer {
    display: none; 
  }
}

/* show dropdown when screen width is below 1200px */
@media screen and (max-width: 1200px) {
  .searchBarContainer {
    flex-direction: column;
    align-items: stretch;
    width: 180%;
  }
  .buttonContainer {
    display: none;  
  }
  .dropdownContainer {
    display: block; 
    margin-top: 2%;
  }
}

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  row-gap: 1rem;
  column-gap: 1rem;
  margin-bottom: 1rem;
}

.card {
  margin-bottom: 1%; /* Add margin between items */
}

.emptySearchMessage {
  width: 100%;
  font-weight: bold;
  text-align: center;
  font-size: 1.1rem;
}

.recommendedContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  row-gap: 1rem;
  column-gap: 1rem;
}

@media screen and (min-width: 1800px) {
  .content {
    width: 1400px;
  }
  .searchBarContainer {
    width: 1400px;
  }
}

@media screen and (max-width: 1000px) {
  .content {
    width: 425px;
  }
  .cardsContainer {
    justify-content: space-around;
  }
}

@media screen and (max-width: 550px) {
  .header {
    margin-top: 5rem;
  }
}