.emailRegCodeInnerContainer {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.subHeaderLabel {
  font-weight: bold !important;
  color: var(--blue-gray) !important;
  margin-top: 20px !important;
}

.buttonCodeContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: 1.5rem;
}

.loadingContainer {
  width: 100%;
  margin-top: 1.5rem;
}
